.background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: -1;
}

.container{
  background: #ffffff67;
  height: 550px;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  overflow-y: auto;
}

.container h1 {
  margin-bottom: 40px;
}

.form {
  text-align: left;
}

.form div{
  display: inline-block;
  margin-bottom: 20px;
}

.form label {
  margin-left: 70px;
  margin-right: 40px;
  width: 200px;
  font-size: 25px;
  display: inline-block;
}

.form p{
  margin-top: 1%;
  margin-left: 55%;
  margin-bottom: 0%;
}

.formInputs {
  background: #0000009a;
  border: 1px solid #ffffffb4;
  color: #ffffff;
  border-radius: 5px;
  opacity: 0.75;
  width: 300px;
  height: 25px;
  margin-right: 20px;
}

.form .submitBtn {
  position: absolute;
  right: 490px;
  bottom: 60px;
}

.selectedTemps button {
  width: 20px;
  border: 1px solid #ffffffb4;
  background: #ff00007b;
  color: white;
}

.btnVolver{
  position: absolute;
  left: 27%;
  bottom: 10%;
}