body {
	background: linear-gradient(-45deg, #000000fa, #1f4d4afd, #a1c9fd, #2890b6, #175085, #0a3359, #000000) fixed;
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}