.container {
  text-align: center;
}

.filtro{
  display: inline-block;
}

.background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0%;
  z-index: -1;
}

.cards_container {
  max-width: 1216px;
  margin: auto;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff87;
  background: #00000079;
  border: 1px solid #ffffff87;
}

.linkHome{
  position: absolute;
  top: 0%;
  right: 8%;
}
.linkCrear{
  position: absolute;
  top: 0%;
  right: 0%;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px grey; 
  border-radius: 10px;
  background: #ffffffb4;
}
 
::-webkit-scrollbar-thumb {
  background: #1c1c1c; 
  border-radius: 10px;
}