.search{
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #ffffffb4;
}

.linkContainer {
  margin-right: 8rem;
  margin-left: 8rem;
  width: 130px;
  padding: 5px 0px;
  background: #0000009a ;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid #0000009a;
  box-shadow: 0px 0px 15px black;
}

.linkContainer:hover{
  cursor: pointer;
  box-shadow: 0px 0px 15px white;
}

.search input {
  background: #0000009a;
  border: 1px solid #ffffffb4;
  color: white;
  border-radius: 5px;
  padding: 6px 3px;
  box-shadow: 0px 0px 15px black;
}

.search button {
  background: rgba(255, 255, 255, 0.398);
  border: 1px solid white;
  border-radius: 5px;
  width: 7rem;
  padding: 5px 0px;
  font-size: 14px;
  margin-left: 3px;
  box-shadow: 0px 0px 15px black;
}

.search button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 15px white;
}

.search input:hover{
  box-shadow: 0px 0px 15px white;
}