.container{
  width: 150vh;
  margin-top: 1%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.previous, .next, .page{
  background: rgba(0, 0, 0, 0.501);
  border: 1px solid #00000088;
  color: white;
  margin: 0.3%;
  width: 30px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
}

.container button:hover {
  background: rgba(255, 255, 255, 0.501);
  border: 1px solid white;
  color: #00000088;
  margin: 0.3%;
  width: 30px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px white;
}

.selected {
  background: rgba(255, 255, 255, 0.501);
  border: 1px solid white;
  color: #00000088;
  margin: 0.3%;
  width: 30px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px white;
}


